body {
    background: linear-gradient(to right, #33ff44, #a7a);
}

li:hover {
    cursor: pointer;
    list-style: none;
}

.center {
    text-align: center;
}

.center2 {
    text-align: center;
}

li {
    list-style: none;
}






